/* MOBILE 0-767 */

@media screen and (min-width: 320px) {

.benefits-icon {
    display: none;    
}

/* .benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-list-item {
    width: calc((100% - 72px) / 4);
} */

.benefits-title {
    color: #2E2F42;
}

.benefits-list-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.benefits-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    padding-bottom: 72px;
}
}

/* TABLET */

@media screen and (min-width: 768px) {

.benefits-icon {
    display: none;
}

  
.benefits-list {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 36px;            
}
    
.benefits-list-item {
    width: calc((100% - 24px) / 2);
}
    
/* .benefits-title {
    color: #2E2F42;
} */
    
.benefits-list-title {
            /* color: #2E2F42;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.02em;
            margin-bottom: 8px; */
text-align: left;
}
    
        /* .benefits-list-text {
            color: #434455;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding-bottom: 72px;
        } */
}


/* DESKTOP */

@media screen and (min-width: 1158px) {

.benefits-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
}
    
.benefits-list {
    display: flex;
    gap: 24px;
}
    
.benefits-list-item {
    width: calc((100% - 72px) / 4);
}
    
.benefits-title {
    color: #2E2F42;
}
    
.benefits-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
    
.benefits-list-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}